In [1]:
import pandas as pd
import numpy as np

In [2]:
path = '/home/ai03/_kunyi/pro_shae/datasets/aki_prediction_m4_m3_eicu/6tw_6ts_6pre_v1/'

In [3]:
m3_df = pd.read_csv(path + "6hr_m3_commonFs.csv")

m4_df = pd.read_csv(path + "6hr_m4_commonFs.csv")

e_df = pd.read_csv(path + "6hr_e_0.6_commonFs.csv")

In [4]:
e2_df = pd.read_csv(path + "6hr_e_0.4_commonFs.csv")

In [5]:
e3_df = pd.read_csv(path + "6hr_e_commonFs.csv")

In [6]:
e_df.head()

,HADM_ID,WINDOW_START,WINDOW_END,AKI_IN_ENCOUNTER,aki_label,GENDER,AGE,Potassium,MCV,Sodium,...,INR(PT),RDW,Anion Gap,PT,pH,BUN,Lactate,Creatinine,"Bilirubin, Total",PTT
0,141168,2022-04-06 07:45:00,2022-04-06 13:45:00,True,1,F,70.0,4.2,89.4,139.0,...,2.5,18.0,20.0,26.6,7.411979,27.0,1.990787,2.30,4.100000,29.000000
1,141194,2022-04-13 03:55:00,2022-04-13 09:55:00,False,0,M,68.0,3.5,81.7,140.0,...,1.1,16.5,11.0,12.1,7.310000,13.0,1.000000,1.75,0.400000,28.000000
2,141203,2022-04-06 12:19:00,2022-04-06 18:19:00,True,1,F,77.0,3.8,90.9,145.0,...,1.3,15.3,13.0,14.1,7.450000,11.0,3.500000,0.71,0.500000,49.000000
3,141233,2022-04-19 05:33:00,2022-04-19 11:33:00,False,0,F,81.0,4.1,83.7,136.0,...,1.7,18.5,13.0,17.7,7.420000,29.0,4.717879,1.10,1.721937,25.000000
4,141244,2022-04-09 10:44:00,2022-04-09 16:44:00,False,0,M,59.0,3.1,83.0,143.0,...,1.2,20.3,7.0,12.6,7.320000,13.0,1.252132,0.78,0.600000,41.594026

In [7]:
path2 = '/home/ai03/_kunyi/pro_shae/fed_aki_9/compute_non_iid_1_compare_different_methods/predict_6hr_tr_ts_datasets/'

In [8]:
def get_datasets(m_df, dy):
    
    m3_df2 = m_df.sample(
        frac=1).reset_index(drop=True)
    m3_arr_5f = np.array_split(m3_df2, 5)
    
    m3_arr_5f_1 = m3_arr_5f[0]
    m3_arr_5f_2 = m3_arr_5f[1]
    m3_arr_5f_3 = m3_arr_5f[2]
    m3_arr_5f_4 = m3_arr_5f[3]
    m3_arr_5f_5 = m3_arr_5f[4]

    m3_arr_5f_2345 = pd.concat([m3_arr_5f_2, m3_arr_5f_3, 
                                m3_arr_5f_4, m3_arr_5f_5]) 
    m3_arr_5f_2345 = m3_arr_5f_2345.sample(
        frac=1).reset_index(drop=True)

    m3_arr_5f_1345 = pd.concat([m3_arr_5f_1, m3_arr_5f_3, 
                                m3_arr_5f_4, m3_arr_5f_5]) 
    m3_arr_5f_1345 = m3_arr_5f_1345.sample(
        frac=1).reset_index(drop=True)

    m3_arr_5f_1245 = pd.concat([m3_arr_5f_1, m3_arr_5f_2, 
                                m3_arr_5f_4, m3_arr_5f_5]) 
    m3_arr_5f_1245 = m3_arr_5f_1245.sample(
        frac=1).reset_index(drop=True)

    m3_arr_5f_1235 = pd.concat([m3_arr_5f_1, m3_arr_5f_2, 
                                m3_arr_5f_3, m3_arr_5f_5]) 
    m3_arr_5f_1235 = m3_arr_5f_1235.sample(
        frac=1).reset_index(drop=True)
    
    m3_arr_5f_1234 = pd.concat([m3_arr_5f_1, m3_arr_5f_2, 
                                m3_arr_5f_3, m3_arr_5f_4]) 
    m3_arr_5f_1234 = m3_arr_5f_1234.sample(
        frac=1).reset_index(drop=True)
    
    m3_arr_5f_1.to_csv(path2 + "{}_ts_1.csv".format(dy),index=False)
    m3_arr_5f_2.to_csv(path2 + "{}_ts_2.csv".format(dy),index=False)
    m3_arr_5f_3.to_csv(path2 + "{}_ts_3.csv".format(dy),index=False)
    m3_arr_5f_4.to_csv(path2 + "{}_ts_4.csv".format(dy),index=False)
    m3_arr_5f_5.to_csv(path2 + "{}_ts_5.csv".format(dy),index=False)
    
    m3_arr_5f_2345.to_csv(path2 + "{}_tr_1.csv".format(dy),index=False)
    m3_arr_5f_1345.to_csv(path2 + "{}_tr_2.csv".format(dy),index=False)
    m3_arr_5f_1245.to_csv(path2 + "{}_tr_3.csv".format(dy),index=False)
    m3_arr_5f_1235.to_csv(path2 + "{}_tr_4.csv".format(dy),index=False)
    m3_arr_5f_1234.to_csv(path2 + "{}_tr_5.csv".format(dy),index=False)

In [9]:
get_datasets(m3_df, 'm3')
get_datasets(m4_df, 'm4')
get_datasets(e_df, 'e_0.6')

In [10]:
get_datasets(e2_df, 'e_0.4')

In [11]:
get_datasets(e3_df, 'e')